.feature {
    padding-bottom: 130px;
    &-container {
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0 170px;
    }
    &-desc {
        margin-bottom: 23px;
    }
    &-list {
        display: inline-block;
        list-style-type: none;
    }
    &-item {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        gap: 0 10px;
        span {
            font-size: 14px;
            font-weight: normal;
        }
    }
    &-icon {
        width: 24px;
        height: 24px;
        
    }
}