.footer {
    padding-bottom: 100px;
    &-container {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        grid-gap: 0 126px;
    }
    &-logo {
        margin-bottom: 20px;
    }
    &-desc {
        margin-bottom: 30px;
    }
    &-heading {
        margin-bottom: 20px;
    }
    &-item {
        margin-bottom: 10px;
    }
    &-links {
        list-style-type: none;
        flex-direction: column;
    }
    &-link {
        color: inherit;
        line-height: calc(30 / 14);
        font-size: 14px;
    }
    .social {
        display: flex;
        align-items: center;
    }
    .copy-right {
        margin-left: 20px;
        color: #AFB5C0;
        font-size: 16px;
    }
}