.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
button {
  cursor: pointer;
  border: 0;
  outline: none;
  font-family: $font;
}

body {
  line-height: 1;
  font-family: $font;
  color: $text-color;
  background-color: white;
}
.button {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: $font;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  &--primary {
    font-weight: 700;
    background-color: $primary-color;
    color: white;
    border: 2px solid $primary-color;
    border-radius: 100rem;
    &:hover {
      background-color: transparent;
      border: 2px solid $primary-color;
      color: $primary-color;
      transition: all 0.25s ease-in-out;
    }
  }
  &--outline {
    background-color: transparent;
    color: $primary-color;
    font-weight: 500;
    border: 2px solid;
    &:hover {
      background-color: $primary-color;
      color: white;
      transition: all 0.3s ease-in-out;
    }
  }
  &--rounded {
    font-weight: 700;
    background-color: $primary-color;
    color: white;
    border: 2px solid $primary-color;
    border-radius: 10px;
    box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.6);

    &:hover {
      background-color: transparent;
      border: 2px solid $primary-color;
      color: $primary-color;
      transition: all 0.25s ease-in-out;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: calc(50 / 35);
  margin-bottom: 20px;
}
.text {
  line-height: calc(30 / 16);

}
.boxed {
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}