.intro {
  margin-bottom: 100px;
  &-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 37px 0;
    box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.06);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    min-height: 100px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 36.5px;
    font-size: 20px;
    &:nth-child(2) {
        border-left: 2px solid #EEEFF2;
        border-right: 2px solid #EEEFF2;
    }
  }
  &-title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 5px;
  }
  &-text {
      line-height: calc(30 / 20);
  }
}

